@media screen and (max-width: 374px) {
  .pagination-button {
    padding: 8px 8px;
    gap: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.pagination-section {
  padding-top: 25px;
  padding-bottom: 50px;
  position: relative;
}

.pagination {
  display: flex;
  justify-content: space-between;
}

.pagination-buttons {
  display: flex;
  column-gap: 8px;
  align-items: baseline;
  margin-left: auto;
  margin-right: auto;
}

.pagination-dots {
  display: flex;
  max-width: px;
  flex-wrap: wrap;
  row-gap: 8px;
}

.pagination-dot {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background-color: transparent;
  margin: 0 8px;
  border: 1px solid var(--accent-color);
  cursor: pointer;
  color: var(--primary-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.pagination-dot:hover {
  background-color: var(--accent-color);
  color: var(--button-color);
}

.active-pagination-dot {
  background-color: var(--accent-color);
  color: var(--button-color);
  border: 2px solid var(--accent-color);
}

.pagination-button {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: var(--primary-color);
  padding: 8px 8px;
  border-radius: 15px;
  border: 1px solid var(--accent-color);
  background-color: transparent;
  fill: var(--accent-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  display: none;
}

.pagination-button:hover,
.pagination-button:focus {
  background-color: var(--accent-color);
  color: var(--button-color);
  fill: var(--button-color);
}

.pagination-button-icon-next {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transform: rotate(0deg);
}

.pagination-button-icon-prev {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transform: rotate(-180deg);
}

.pagination-button-icon-more {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.pagination-button:disabled {
  cursor: not-allowed;
  border: 1px solid var(--button-color);
  color: var(--button-color);
  background-color: rgba(252, 249, 249, 0.1);
  fill: var(--button-color);
}

.pagination-button:disabled:hover {
  cursor: not-allowed;
  border: 1px solid rgba(252, 249, 249, 0.1);
  color: var(--button-color);
  background-color: rgba(252, 249, 249, 0.1);
}

@media screen and (min-width: 768px) {
  .pagination-buttons {
    column-gap: 18px;
  }
}

@media screen and (min-width: 1280px) {
  .pagination-button {
    display: flex;
    padding: 8px 8px;
  }
}
