<header class="header-page">
  <div class="container">
    <nav>
      <ul class="site-navigation">
        <li class="site-navigation-item">
          <a class="site-navigation-item-link" href="./index.html">Home</a>
        </li>
        <li class="site-navigation-item">
          <a class="site-navigation-item-link" href="./task-11-1.html"
            >Gallery && Search</a
          >
        </li>
        <li class="site-navigation-item">
          <a class="site-navigation-item-link" href="./task-8-1.html"
            >Gallery with my Window && Slider</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
