<section class="pagination-section">
  <div class="container">
    <div class="pagination">
      <div class="pagination-buttons">
        <button class="pagination-button" id="prevPageBtn">
          <svg
            class="pagination-button-icon-prev"
            width="26"
            height="10"
            aria-label="icon vector left"
          >
            <use href="./img/icons.svg#icon-vector"></use>
          </svg>
          <span>Previous</span>
        </button>
        <ul class="pagination-dots list" id="paginationDots"></ul>
        <button class="pagination-button" id="nextPageBtn">
          <span>Next</span>
          <svg
            class="pagination-button-icon-next"
            width="26"
            height="10"
            aria-label="icon vector right"
          >
            <use href="./img/icons.svg#icon-vector"></use>
          </svg>
        </button>
        <button class="pagination-button" id="morePageBtn">
          <span>More</span>
          <svg
            class="pagination-button-icon-more"
            width="26"
            height="10"
            aria-label="icon vector right"
          >
            <use href="./img/icons.svg#icon-navigation-more"></use>
          </svg>
        </button>
      </div>
    </div>
    <span class="border-loader-pagination"><span class="loader"></span></span>
  </div>
</section>
